- if GistList.instance.gists.length == 0
  .container#prompt
    .row
      .span12.offset2
        .alert-message.block-message.warning
          .row
            .span10.offset2
              %h3
                Hello there.
                %br
                Grist needs Gists to its mill.
                %br
                Click the update button to get started.
              %h1
                This process might take a while.
- else
  :javascript
    document.observe("dom:loaded", function() {
      $('searchbox').enable();
    });

  %header
    %center
      .inner
        .container
          %h1
            Hello, #{github_user.name}.
            %small
              You have #{gists.length} gists, using #{GistList.instance.size} on disk.
  .container
    %dl
      - for gist in gists
        %dt
          #{gist.id}
          - for file in gist.files
            %dd= file
