:javascript
  document.observe("dom:loaded", function() {
    $('searchbox').setValue('#{@query}');
    $('searchbox').enable();
  });
.container
  %h1 #{@results.length} hits.
  %dl
    - for result in @results
      %dt
        #{result.values[:id]}
        %dd= result.values[:filename]
        %dd
          - split = result.values[:content].split("\n")
          - snippet = h split[1..10].join("\n")
          - if split.length > 10
            - snippet += "\n<center>…</center>"
          %pre= snippet
