:javascript
  document.observe("dom:loaded", function() {
    $('searchbox').setValue('#{@query}');
    $('searchbox').enable();
  });
.container
  %h1 #{@results.length} hits.
  %dl
    - for result in @results
      %dt
        - gist = GistList.instance.gist(result.values[:id])
        %a{:href => gist.metadata["html_url"]}
          = gist.id
        = " - "
        %code= result.values[:filename]
        .pull-right
          = Time.parse(gist.metadata["created_at"]).strftime("%B %d, %Y")
        - if gist.metadata["description"] && gist.metadata["description"].length > 0
          %dd= gist.metadata["description"]
        %dd
          - split = result.values[:content].split("\n")
          - snippet = h split[0,10].join("\n")
          - if split.length > 10
            - snippet += "\n<center>…</center>"
          %pre= snippet
